.Menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topicForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    padding: 20px;
    background-color: #101016;
    border-radius: 10px;
  }

.topicInput,
.numberOfQuestionsInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
}

input[type="input"],
input[type="range"] {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

input[type="range"]::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  background-color: #007bff;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background-color: #007bff;
  border-radius: 50%;
}

.submit {
  margin-top: 20px;
}